In [1]:
import pandas as pd
import numpy as np

from collections import Counter

## Wczytanie bazowego datasetu

In [2]:
df = pd.read_csv("glove_df_dbpedied_p.csv")

In [3]:
df

,Unnamed: 0,csv,text,http://dbpedia.org/ontology/Plant,http://dbpedia.org/ontology/PopulatedPlace,http://dbpedia.org/ontology/EducationalInstitution,http://dbpedia.org/ontology/Writer,http://dbpedia.org/ontology/TelevisionShow,http://dbpedia.org/ontology/Museum,http://dbpedia.org/ontology/Lake,...,http://dbpedia.org/ontology/Company,http://dbpedia.org/ontology/Newspaper,http://dbpedia.org/ontology/Mountain,http://dbpedia.org/ontology/Bird,http://dbpedia.org/ontology/Wrestler,http://dbpedia.org/ontology/Animal,http://dbpedia.org/ontology/Film,http://dbpedia.org/ontology/Eukaryote,http://dbpedia.org/ontology/City,text_dbpedied
0,0,58891288_0_1117541047012405958,"""The Godfather"";""Citizen Kane"";""Casablanca"";""L...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,"""Film"" ; ""Wikidata:Q11424"" ; ""Work"" ; ""Film"" ;..."
1,1,8468806_0_4382447409703007384,"""Kaspisches-Meer"";""Oberer-See"";""Victoriasee"";""...",0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,"""KaspischesMeer"" ; ""ObererSee"" ; ""Victoriasee""..."
2,2,50245608_0_871275842592178099,"""10 Things I Hate About You"";""12 Angry Men"";""2...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,"""Film"" ; ""Wikidata:Q11424"" ; ""Work"" ; ""12 Angr..."
3,3,14067031_0_559833072073397908,"""Arabic"";""Portuguese"";""French"";""English"";""Fren...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"""Language"" ; ""Portuguese"" ; ""French"" ; ""Englis..."
4,4,8286121_0_8471791395229161598,"""South America Continent"";""Saint Helena"";""Sain...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"South America Continent ; ""Place"" ; ""Location""..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,115,66009064_0_9148652238372261251,"""Astros"";""Mariners"";""Diamondbacks"";""Athletics""...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"""Astros"" ; ""Mariners"" ; ""Diamondbacks"" ; ""Athl..."
116,116,21362676_0_6854186738074119688,"""The Game"";""Gandhi"";""Gattaca"";""The General"";""G...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,"""The Game"" ; ""Gandhi"" ; ""Film"" ; ""Wikidata:Q11..."
117,117,39107734_2_2329160387535788734,"""Atlanta, Georgia, United States"";""Hillingdon,...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,"""Atlanta Georgia United States"" ; ""Hillingdon ..."
118,118,29414811_13_8724394428539174350,"""Batman: Arkham City[131]"";""Super Mario Galaxy...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"""Batman Arkham City131"" ; ""Super Mario Galaxy ..."
119,119,75367212_2_2745466355267233390,"""Super Mario 64"";""Mario Kart 64"";""Legend of Ze...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"""Software"" ; ""VideoGame"" ; ""Work"" ; ""Software""..."

## W poprzednich skryptach doszło do utworzenia duplikatów w kolumnie text, więc teraz się ich pozbywamy

In [4]:
df = df.drop_duplicates(subset=["text"]); df

,Unnamed: 0,csv,text,http://dbpedia.org/ontology/Plant,http://dbpedia.org/ontology/PopulatedPlace,http://dbpedia.org/ontology/EducationalInstitution,http://dbpedia.org/ontology/Writer,http://dbpedia.org/ontology/TelevisionShow,http://dbpedia.org/ontology/Museum,http://dbpedia.org/ontology/Lake,...,http://dbpedia.org/ontology/Company,http://dbpedia.org/ontology/Newspaper,http://dbpedia.org/ontology/Mountain,http://dbpedia.org/ontology/Bird,http://dbpedia.org/ontology/Wrestler,http://dbpedia.org/ontology/Animal,http://dbpedia.org/ontology/Film,http://dbpedia.org/ontology/Eukaryote,http://dbpedia.org/ontology/City,text_dbpedied
0,0,58891288_0_1117541047012405958,"""The Godfather"";""Citizen Kane"";""Casablanca"";""L...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,"""Film"" ; ""Wikidata:Q11424"" ; ""Work"" ; ""Film"" ;..."
1,1,8468806_0_4382447409703007384,"""Kaspisches-Meer"";""Oberer-See"";""Victoriasee"";""...",0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,"""KaspischesMeer"" ; ""ObererSee"" ; ""Victoriasee""..."
2,2,50245608_0_871275842592178099,"""10 Things I Hate About You"";""12 Angry Men"";""2...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,"""Film"" ; ""Wikidata:Q11424"" ; ""Work"" ; ""12 Angr..."
3,3,14067031_0_559833072073397908,"""Arabic"";""Portuguese"";""French"";""English"";""Fren...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"""Language"" ; ""Portuguese"" ; ""French"" ; ""Englis..."
4,4,8286121_0_8471791395229161598,"""South America Continent"";""Saint Helena"";""Sain...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"South America Continent ; ""Place"" ; ""Location""..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,115,66009064_0_9148652238372261251,"""Astros"";""Mariners"";""Diamondbacks"";""Athletics""...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"""Astros"" ; ""Mariners"" ; ""Diamondbacks"" ; ""Athl..."
116,116,21362676_0_6854186738074119688,"""The Game"";""Gandhi"";""Gattaca"";""The General"";""G...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,"""The Game"" ; ""Gandhi"" ; ""Film"" ; ""Wikidata:Q11..."
117,117,39107734_2_2329160387535788734,"""Atlanta, Georgia, United States"";""Hillingdon,...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,"""Atlanta Georgia United States"" ; ""Hillingdon ..."
118,118,29414811_13_8724394428539174350,"""Batman: Arkham City[131]"";""Super Mario Galaxy...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"""Batman Arkham City131"" ; ""Super Mario Galaxy ..."
119,119,75367212_2_2745466355267233390,"""Super Mario 64"";""Mario Kart 64"";""Legend of Ze...",0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"""Software"" ; ""VideoGame"" ; ""Work"" ; ""Software""..."

## Zbudowanie listy klas w obrębie których będziemy dokonywać predykcji

In [6]:
classes = list(df.columns.values[3:-1])
classes

['http://dbpedia.org/ontology/Plant',
 'http://dbpedia.org/ontology/PopulatedPlace',
 'http://dbpedia.org/ontology/EducationalInstitution',
 'http://dbpedia.org/ontology/Writer',
 'http://dbpedia.org/ontology/TelevisionShow',
 'http://dbpedia.org/ontology/Museum',
 'http://dbpedia.org/ontology/Lake',
 'http://dbpedia.org/ontology/Person',
 'http://dbpedia.org/ontology/AdministrativeRegion',
 'http://dbpedia.org/ontology/AcademicJournal',
 'http://dbpedia.org/ontology/Airport',
 'http://dbpedia.org/ontology/Language',
 'http://dbpedia.org/ontology/PoliticalParty',
 'http://dbpedia.org/ontology/Genre',
 'http://dbpedia.org/ontology/Currency',
 'http://dbpedia.org/ontology/Cricketer',
 'http://dbpedia.org/ontology/SportsTeam',
 'http://dbpedia.org/ontology/Saint',
 'http://dbpedia.org/ontology/GovernmentType',
 'http://dbpedia.org/ontology/VideoGame',
 'http://dbpedia.org/ontology/Country',
 'http://dbpedia.org/ontology/Scientist',
 'http://dbpedia.org/ontology/BaseballPlayer',
 'http://dbpedia.org/ontology/Company',
 'http://dbpedia.org/ontology/Newspaper',
 'http://dbpedia.org/ontology/Mountain',
 'http://dbpedia.org/ontology/Bird',
 'http://dbpedia.org/ontology/Wrestler',
 'http://dbpedia.org/ontology/Animal',
 'http://dbpedia.org/ontology/Film',
 'http://dbpedia.org/ontology/Eukaryote',
 'http://dbpedia.org/ontology/City']

## Sprawdzenie rozkładu klas
Chodzi o podliczenie ile mamy próbek odpowiadających danej klasie. Jeżeli mamy tylko jedną próbkę danej klasy to dodajemy ID takiego wiersza do tablicy

In [7]:
rozklad = Counter()

for cc, row in df.iterrows():
    cat = classes[np.array(row[classes]).argmax()]
    rozklad[cat] += 1

theonly = []
rev = reversed(rozklad.most_common())
for item in rev:
    if item[1] == 1:
        theonly.append(item[0])

In [8]:
rozklad.most_common()

[('http://dbpedia.org/ontology/Person', 16),
 ('http://dbpedia.org/ontology/Film', 15),
 ('http://dbpedia.org/ontology/Country', 13),
 ('http://dbpedia.org/ontology/Company', 12),
 ('http://dbpedia.org/ontology/VideoGame', 10),
 ('http://dbpedia.org/ontology/City', 8),
 ('http://dbpedia.org/ontology/Genre', 5),
 ('http://dbpedia.org/ontology/Lake', 4),
 ('http://dbpedia.org/ontology/Newspaper', 3),
 ('http://dbpedia.org/ontology/BaseballPlayer', 3),
 ('http://dbpedia.org/ontology/Currency', 2),
 ('http://dbpedia.org/ontology/Bird', 2),
 ('http://dbpedia.org/ontology/Mountain', 2),
 ('http://dbpedia.org/ontology/Scientist', 2),
 ('http://dbpedia.org/ontology/Plant', 2),
 ('http://dbpedia.org/ontology/Animal', 2),
 ('http://dbpedia.org/ontology/AdministrativeRegion', 2),
 ('http://dbpedia.org/ontology/Airport', 2),
 ('http://dbpedia.org/ontology/Language', 1),
 ('http://dbpedia.org/ontology/TelevisionShow', 1),
 ('http://dbpedia.org/ontology/AcademicJournal', 1),
 ('http://dbpedia.org/ontology/PopulatedPlace', 1),
 ('http://dbpedia.org/ontology/Wrestler', 1),
 ('http://dbpedia.org/ontology/PoliticalParty', 1),
 ('http://dbpedia.org/ontology/Cricketer', 1),
 ('http://dbpedia.org/ontology/Eukaryote', 1),
 ('http://dbpedia.org/ontology/Saint', 1),
 ('http://dbpedia.org/ontology/Writer', 1),
 ('http://dbpedia.org/ontology/Museum', 1),
 ('http://dbpedia.org/ontology/EducationalInstitution', 1),
 ('http://dbpedia.org/ontology/GovernmentType', 1),
 ('http://dbpedia.org/ontology/SportsTeam', 1)]

## Wypisanie klas, ktore mają tylko jeden przykład

In [9]:
theonly

['http://dbpedia.org/ontology/SportsTeam',
 'http://dbpedia.org/ontology/GovernmentType',
 'http://dbpedia.org/ontology/EducationalInstitution',
 'http://dbpedia.org/ontology/Museum',
 'http://dbpedia.org/ontology/Writer',
 'http://dbpedia.org/ontology/Saint',
 'http://dbpedia.org/ontology/Eukaryote',
 'http://dbpedia.org/ontology/Cricketer',
 'http://dbpedia.org/ontology/PoliticalParty',
 'http://dbpedia.org/ontology/Wrestler',
 'http://dbpedia.org/ontology/PopulatedPlace',
 'http://dbpedia.org/ontology/AcademicJournal',
 'http://dbpedia.org/ontology/TelevisionShow',
 'http://dbpedia.org/ontology/Language']

## Usuwamy kolumny, które mają tylko pojedyńcze wystąpienia klas

In [10]:
for item in theonly:
    classes.remove(item)
    
df = df.drop(columns=theonly)

In [11]:
classes

['http://dbpedia.org/ontology/Plant',
 'http://dbpedia.org/ontology/Lake',
 'http://dbpedia.org/ontology/Person',
 'http://dbpedia.org/ontology/AdministrativeRegion',
 'http://dbpedia.org/ontology/Airport',
 'http://dbpedia.org/ontology/Genre',
 'http://dbpedia.org/ontology/Currency',
 'http://dbpedia.org/ontology/VideoGame',
 'http://dbpedia.org/ontology/Country',
 'http://dbpedia.org/ontology/Scientist',
 'http://dbpedia.org/ontology/BaseballPlayer',
 'http://dbpedia.org/ontology/Company',
 'http://dbpedia.org/ontology/Newspaper',
 'http://dbpedia.org/ontology/Mountain',
 'http://dbpedia.org/ontology/Bird',
 'http://dbpedia.org/ontology/Animal',
 'http://dbpedia.org/ontology/Film',
 'http://dbpedia.org/ontology/City']

## Do zbioru testowego dodajemy próbki, które odpowiadają każdej z klasy
Dokładnie to po int(0.2*ilość próbek)+1

In [12]:
rowtest = []
rowtestcats = Counter()

for cc, row in df.iterrows():
    cat = classes[np.array(row[classes]).argmax()]
    
    if row[cat] == 1:
        if rowtestcats[cat] < int(0.2*rozklad[cat])+1:
#             print(cc, cat)
            rowtestcats[cat] += 1
            rowtest.append(cc)

In [13]:
len(rowtestcats), len(classes), len(rowtest)

(18, 18, 32)

## Utworzenie nowego dataframe

In [15]:
testds = pd.DataFrame()
for row in rowtest:
    testds = testds.append(df.loc[row])

## Usunięcie niepotrzebnej kolumny

In [16]:
testds = testds.drop(columns=["Unnamed: 0"])

In [17]:
testds[classes] = testds[classes].astype(int)

In [18]:
testds

,csv,http://dbpedia.org/ontology/AdministrativeRegion,http://dbpedia.org/ontology/Airport,http://dbpedia.org/ontology/Animal,http://dbpedia.org/ontology/BaseballPlayer,http://dbpedia.org/ontology/Bird,http://dbpedia.org/ontology/City,http://dbpedia.org/ontology/Company,http://dbpedia.org/ontology/Country,http://dbpedia.org/ontology/Currency,...,http://dbpedia.org/ontology/Genre,http://dbpedia.org/ontology/Lake,http://dbpedia.org/ontology/Mountain,http://dbpedia.org/ontology/Newspaper,http://dbpedia.org/ontology/Person,http://dbpedia.org/ontology/Plant,http://dbpedia.org/ontology/Scientist,http://dbpedia.org/ontology/VideoGame,text,text_dbpedied
0,58891288_0_1117541047012405958,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,"""The Godfather"";""Citizen Kane"";""Casablanca"";""L...","""Film"" ; ""Wikidata:Q11424"" ; ""Work"" ; ""Film"" ;..."
1,8468806_0_4382447409703007384,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,"""Kaspisches-Meer"";""Oberer-See"";""Victoriasee"";""...","""KaspischesMeer"" ; ""ObererSee"" ; ""Victoriasee""..."
2,50245608_0_871275842592178099,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,"""10 Things I Hate About You"";""12 Angry Men"";""2...","""Film"" ; ""Wikidata:Q11424"" ; ""Work"" ; ""12 Angr..."
4,8286121_0_8471791395229161598,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,"""South America Continent"";""Saint Helena"";""Sain...","South America Continent ; ""Place"" ; ""Location""..."
5,39759273_0_1427898308030295194,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,"""The Social Network"";""Inception"";""Alice in Won...","""Film"" ; ""Wikidata:Q11424"" ; ""Work"" ; ""Film"" ;..."
6,14380604_4_3329235705746762392,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,"""Citigroup"";""Bank of America"";""HSBC"";""General ...","""Company"" ; ""Agent"" ; ""Bank"" ; ""Organisation"" ..."
7,20135078_0_7570343137119682530,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,"""John Huston"";""Harold Ramis"";""Ingmar Bergman"";...","""Person"" ; ""Agent"" ; ""Person"" ; ""Agent"" ; ""Per..."
8,29414811_6_8221428333921653560,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,"""The Elder Scrolls V: Skyrim"";""Red Dead Redemp...","""The Elder Scrolls V Skyrim"" ; ""Software"" ; ""A..."
9,34041816_1_4749054164534706977,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,"""Hillingdon, Greater London, United Kingdom"";""...","""Hillingdon Greater London United Kingdom"" ; ""..."
10,14067031_0_559833072073397908,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,"""Dinar"";""New Kwanza"";""CFA franc"";""Pula"";""CFA f...","""Organisation"" ; ""New Kwanza"" ; ""Currency"" ; ""..."
11,71137051_0_8039724067857124984,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,"""Red-throated Loon"";""Pacific Loon"";""Common Loo...",Redthroated Loon ; Pacific Loon ; Common Loon ...
12,29414811_2_4773219892816395776,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,"""Red Dead Redemption"";""Uncharted 2: Among Thie...","""Software"" ; ""Agent"" ; ""VideoGame"" ; ""Work"" ; ..."
13,99070098_0_2074872741302696997,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,"""Scafell Pike"";""Sca Fell"";""Helvellyn"";""Skiddaw...","""Place"" ; ""Location"" ; ""Mountain"" ; ""NaturalPl..."
14,35188621_0_6058553107571275232,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,"""Steven Spielberg"";""Cameron Crowe"";""Brian De P...","""Person"" ; ""Agent"" ; ""Person"" ; ""Agent"" ; ""Per..."
15,43237185_1_3636357855502246981,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,"""Anthony To-Ming Lau"";""Edmond E. Granirer"";""Ha...","""Anthony ToMing Lau"" ; ""Edmond E Granirer"" ; ""..."
16,50245608_0_871275842592178099,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,"""Gil Junger"";""Sidney Lumet"";""John Singleton"";""...","""Person"" ; ""Person"" ; ""Agent"" ; ""Person"" ; ""Ag..."
17,46671561_0_6122315295162029872,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,"""Aliens: Colonial Marines"";""All-Pro Football 2...","""Aliens Colonial Marines"" ; ""AllPro Football 2..."
18,29414811_6_8221428333921653560,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,"""Bethesda Softworks"";""Rockstar Games"";""Infinit...","""Company"" ; ""Agent"" ; ""Organisation"" ; ""Compan..."
21,38428277_0_1311643810102462607,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,"""Fritz Lang"";""Robert Altman"";""Orson Welles"";""J...","""Person"" ; ""Agent"" ; ""Person"" ; ""Agent"" ; ""Per..."
23,77694908_0_6083291340991074532,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,"""The Godfather"";""Pulp Fiction"";""Citizen Kane"";...","""Film"" ; ""Wikidata:Q11424"" ; ""Work"" ; ""Film"" ;..."
26,88523363_0_8180214313099580515,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,"""Abutilon indicum"";""Abutilon theophrasti"";""Aca...","""Eukaryote"" ; ""Plant"" ; ""Species"" ; ""Eukaryote..."
31,60319454_0_3938426910282115527,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,"""American bald eagle"";""Asiatic elephant"";""Asia...","""American bald eagle"" ; ""Asiatic elephant"" ; ""..."
32,52299421_0_4473286348258170200,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,"""United States"";""Norway"";""Singapore"";""Japan"";""...","""Person"" ; ""Place"" ; ""Location"" ; ""Country"" ; ..."
33,37856682_0_6818907050314633217,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,"""Vatican City"";""Monaco"";""Nauru"";""Tuvalu"";""San ...","""Place"" ; ""Location"" ; ""Country"" ; ""PopulatedP..."
36,29414811_2_4773219892816395776,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,"""Rockstar San Diego"";""Naughty Dog"";""Rockstar N...","""Company"" ; ""Agent"" ; ""Organisation"" ; ""Compan..."
37,29414811_13_8724394428539174350,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,"""Action-Adventure: Brawler, Stealth"";""Platform...","""ActionAdventure Brawler Stealth"" ; ""Platforme..."
40,10579449_0_1681126353774891032,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,"""Dainik Jagran"";""Dainik Bhaskar"";""Aajtak TV"";""...","""Newspaper"" ; ""PeriodicalLiterature"" ; ""Work"" ..."
41,29414811_6_8221428333921653560,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,"""Open World: RPG"";""Action Adventure"";""First-pe...","""Open World RPG"" ; ""Action Adventure"" ; ""First..."
43,55004961_0_2904467548072189860,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,"""Gabon"";""Gambia, The"";""Georgia"";""Germany"";""Gha...","""Place"" ; ""Location"" ; ""Country"" ; ""PopulatedP..."
45,39107734_2_2329160387535788734,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,"""Hartsfield-Jackson Atlanta International Airp...","""HartsfieldJackson Atlanta International Airpo..."
59,14067031_0_559833072073397908,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,"""Algiers"";""Luanda"";""Porto-Novo"";""Gaborone"";""Ou...","""Place"" ; ""Location"" ; ""City"" ; ""PopulatedPlac..."
74,45073662_0_3179937335063201739,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,"""Hank Aaron"";""Stan Musial"";""Willie Mays"";""Barr...","""Person"" ; ""Agent"" ; ""Athlete"" ; ""BaseballPlay..."

## Utworzenie zbioru uczącego

In [19]:
trainds = pd.DataFrame()

for row in range(len(df)):
    if row not in rowtest:
        trainds = trainds.append(df.iloc[row])

## Usunięcie niepotrzebnej kolumny

In [20]:
trainds = trainds.drop(columns=["Unnamed: 0"])

In [21]:
trainds[classes] = trainds[classes].astype(int)

In [22]:
trainds.head()

,csv,http://dbpedia.org/ontology/AdministrativeRegion,http://dbpedia.org/ontology/Airport,http://dbpedia.org/ontology/Animal,http://dbpedia.org/ontology/BaseballPlayer,http://dbpedia.org/ontology/Bird,http://dbpedia.org/ontology/City,http://dbpedia.org/ontology/Company,http://dbpedia.org/ontology/Country,http://dbpedia.org/ontology/Currency,...,http://dbpedia.org/ontology/Genre,http://dbpedia.org/ontology/Lake,http://dbpedia.org/ontology/Mountain,http://dbpedia.org/ontology/Newspaper,http://dbpedia.org/ontology/Person,http://dbpedia.org/ontology/Plant,http://dbpedia.org/ontology/Scientist,http://dbpedia.org/ontology/VideoGame,text,text_dbpedied
3,14067031_0_559833072073397908,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,"""Arabic"";""Portuguese"";""French"";""English"";""Fren...","""Language"" ; ""Portuguese"" ; ""French"" ; ""Englis..."
19,11833461_1_3811022039809817402,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,"""Donkey Kong Country"";""F-Zero"";""SimCity"";""Supe...","""Software"" ; ""VideoGame"" ; ""Work"" ; ""FZero"" ; ..."
20,21245481_0_8730460088443117515,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,"""H Neely Henry Lake *"";""Logan Martin Lake"";""We...","""H Neely Henry Lake "" ; ""Place"" ; ""Location"" ;..."
22,13719111_1_5719401842463579519,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,"""Pink-backed pelican"";""Little grebe"";""Great co...","""Pinkbacked pelican"" ; ""Person"" ; ""Animal"" ; ""..."
24,20135078_0_7570343137119682530,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,"""The Treasure of the Sierra Madre"";""Groundhog ...","""Book"" ; ""Work"" ; ""WrittenWork"" ; ""Holiday"" ; ..."

## Zapis do pliku

In [23]:
testds.to_csv("test_p.csv")
trainds.to_csv("train_p.csv")